:root {
  --buttery-tokens-font-family-heading: Poppins, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --buttery-tokens-font-family-body: Poppins, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --buttery-tokens-font-weight-bold: 700;
  --buttery-tokens-font-weight-semi-bold: 600;
  --buttery-tokens-font-weight-medium: 500;
  --buttery-tokens-font-weight-regular: 400;
  --buttery-tokens-font-weight-light: 300;
--buttery-tokens-font-size: 16;  --buttery-tokens-breakpoint-phone-small: 320px;
  --buttery-tokens-breakpoint-phone: 375px;
  --buttery-tokens-breakpoint-phone-large: 414px;
  --buttery-tokens-breakpoint-tablet-small: 480px;
  --buttery-tokens-breakpoint-tablet: 768px;
  --buttery-tokens-breakpoint-tablet-large: 1024px;
  --buttery-tokens-breakpoint-desktop-small: 1200px;
  --buttery-tokens-breakpoint-desktop: 1280px;
  --buttery-tokens-breakpoint-desktop-large: 1400px;
  --buttery-tokens-color-primary-h: 42;
  --buttery-tokens-color-primary-s: 70.94017094017094%;
  --buttery-tokens-color-primary-l: 44.46%;
  --buttery-tokens-color-primary-50-h: 55;
  --buttery-tokens-color-primary-50-s: 100%;
  --buttery-tokens-color-primary-50-l: 76%;
  --buttery-tokens-color-primary-100-h: 53;
  --buttery-tokens-color-primary-100-s: 92.58984809188587%;
  --buttery-tokens-color-primary-100-l: 73.00999999999999%;
  --buttery-tokens-color-primary-200-h: 51;
  --buttery-tokens-color-primary-200-s: 83.93574297188754%;
  --buttery-tokens-color-primary-200-l: 68.875%;
  --buttery-tokens-color-primary-300-h: 49;
  --buttery-tokens-color-primary-300-s: 79.39358257285842%;
  --buttery-tokens-color-primary-300-l: 66.03%;
  --buttery-tokens-color-primary-400-h: 48;
  --buttery-tokens-color-primary-400-s: 73.29773030707611%;
  --buttery-tokens-color-primary-400-l: 62.550000000000004%;
  --buttery-tokens-color-primary-500-h: 46;
  --buttery-tokens-color-primary-500-s: 68.50393700787401%;
  --buttery-tokens-color-primary-500-l: 58.72500000000001%;
  --buttery-tokens-color-primary-600-h: 45;
  --buttery-tokens-color-primary-600-s: 64.09335727109516%;
  --buttery-tokens-color-primary-600-l: 55.43999999999999%;
  --buttery-tokens-color-primary-700-h: 44;
  --buttery-tokens-color-primary-700-s: 62.44523263092009%;
  --buttery-tokens-color-primary-700-l: 52.06999999999999%;
  --buttery-tokens-color-primary-800-h: 43;
  --buttery-tokens-color-primary-800-s: 63.934426229508205%;
  --buttery-tokens-color-primary-800-l: 48.19%;
  --buttery-tokens-color-primary-900-h: 42;
  --buttery-tokens-color-primary-900-s: 70.94017094017094%;
  --buttery-tokens-color-primary-900-l: 44.46%;
  --buttery-tokens-color-secondary-h: 170;
  --buttery-tokens-color-secondary-s: 70.94017094017094%;
  --buttery-tokens-color-secondary-l: 44.46%;
  --buttery-tokens-color-secondary-50-h: 180;
  --buttery-tokens-color-secondary-50-s: 100%;
  --buttery-tokens-color-secondary-50-l: 81%;
  --buttery-tokens-color-secondary-100-h: 178;
  --buttery-tokens-color-secondary-100-s: 86.60714285714285%;
  --buttery-tokens-color-secondary-100-l: 77.60000000000001%;
  --buttery-tokens-color-secondary-200-h: 177;
  --buttery-tokens-color-secondary-200-s: 80.69498069498067%;
  --buttery-tokens-color-secondary-200-l: 74.1%;
  --buttery-tokens-color-secondary-300-h: 175;
  --buttery-tokens-color-secondary-300-s: 72.99122214719785%;
  --buttery-tokens-color-secondary-300-l: 70.38000000000001%;
  --buttery-tokens-color-secondary-400-h: 173;
  --buttery-tokens-color-secondary-400-s: 67.35420685561657%;
  --buttery-tokens-color-secondary-400-l: 66.305%;
  --buttery-tokens-color-secondary-500-h: 172;
  --buttery-tokens-color-secondary-500-s: 64.79350033852404%;
  --buttery-tokens-color-secondary-500-l: 63.075%;
  --buttery-tokens-color-secondary-600-h: 172;
  --buttery-tokens-color-secondary-600-s: 61.165048543689316%;
  --buttery-tokens-color-secondary-600-l: 58.8%;
  --buttery-tokens-color-secondary-700-h: 171;
  --buttery-tokens-color-secondary-700-s: 58.08052950910094%;
  --buttery-tokens-color-secondary-700-l: 54.675000000000004%;
  --buttery-tokens-color-secondary-800-h: 170;
  --buttery-tokens-color-secondary-800-s: 57.86094110564864%;
  --buttery-tokens-color-secondary-800-l: 50.165000000000006%;
  --buttery-tokens-color-secondary-900-h: 170;
  --buttery-tokens-color-secondary-900-s: 70.94017094017094%;
  --buttery-tokens-color-secondary-900-l: 44.46%;
  --buttery-tokens-color-warning-h: 60;
  --buttery-tokens-color-warning-s: 70.94017094017094%;
  --buttery-tokens-color-warning-l: 44.46%;
  --buttery-tokens-color-warning-50-h: 60;
  --buttery-tokens-color-warning-50-s: 100%;
  --buttery-tokens-color-warning-50-l: 77.5%;
  --buttery-tokens-color-warning-100-h: 60;
  --buttery-tokens-color-warning-100-s: 88.58447488584474%;
  --buttery-tokens-color-warning-100-l: 73.72%;
  --buttery-tokens-color-warning-200-h: 60;
  --buttery-tokens-color-warning-200-s: 82.89136013686911%;
  --buttery-tokens-color-warning-200-l: 70.775%;
  --buttery-tokens-color-warning-300-h: 60;
  --buttery-tokens-color-warning-300-s: 75.63946406820952%;
  --buttery-tokens-color-warning-300-l: 67.16%;
  --buttery-tokens-color-warning-400-h: 60;
  --buttery-tokens-color-warning-400-s: 69.75113433246253%;
  --buttery-tokens-color-warning-400-l: 63.635000000000005%;
  --buttery-tokens-color-warning-500-h: 60;
  --buttery-tokens-color-warning-500-s: 67.11774377134184%;
  --buttery-tokens-color-warning-500-l: 60.465%;
  --buttery-tokens-color-warning-600-h: 60;
  --buttery-tokens-color-warning-600-s: 63.403476669716376%;
  --buttery-tokens-color-warning-600-l: 56.279999999999994%;
  --buttery-tokens-color-warning-700-h: 60;
  --buttery-tokens-color-warning-700-s: 61.456102783725896%;
  --buttery-tokens-color-warning-700-l: 53.300000000000004%;
  --buttery-tokens-color-warning-800-h: 60;
  --buttery-tokens-color-warning-800-s: 61.29032258064516%;
  --buttery-tokens-color-warning-800-l: 48.980000000000004%;
  --buttery-tokens-color-warning-900-h: 60;
  --buttery-tokens-color-warning-900-s: 70.94017094017094%;
  --buttery-tokens-color-warning-900-l: 44.46%;
  --buttery-tokens-color-danger-h: 359;
  --buttery-tokens-color-danger-s: 70.94017094017094%;
  --buttery-tokens-color-danger-l: 44.46%;
  --buttery-tokens-color-danger-50-h: 9;
  --buttery-tokens-color-danger-50-s: 100%;
  --buttery-tokens-color-danger-50-l: 74%;
  --buttery-tokens-color-danger-100-h: 8;
  --buttery-tokens-color-danger-100-s: 93.0915371329879%;
  --buttery-tokens-color-danger-100-l: 71.05%;
  --buttery-tokens-color-danger-200-h: 8;
  --buttery-tokens-color-danger-200-s: 84.6390168970814%;
  --buttery-tokens-color-danger-200-l: 67.45%;
  --buttery-tokens-color-danger-300-h: 7;
  --buttery-tokens-color-danger-300-s: 80.20641877562564%;
  --buttery-tokens-color-danger-300-l: 64.635%;
  --buttery-tokens-color-danger-400-h: 7;
  --buttery-tokens-color-danger-400-s: 74.22680412371135%;
  --buttery-tokens-color-danger-400-l: 61.199999999999996%;
  --buttery-tokens-color-danger-500-h: 6;
  --buttery-tokens-color-danger-500-s: 69.15411080792502%;
  --buttery-tokens-color-danger-500-l: 57.855000000000004%;
  --buttery-tokens-color-danger-600-h: 5;
  --buttery-tokens-color-danger-600-s: 65.08075076385857%;
  --buttery-tokens-color-danger-600-l: 54.17999999999999%;
  --buttery-tokens-color-danger-700-h: 4;
  --buttery-tokens-color-danger-700-s: 62.763756723210584%;
  --buttery-tokens-color-danger-700-l: 51.66%;
  --buttery-tokens-color-danger-800-h: 2;
  --buttery-tokens-color-danger-800-s: 63.934426229508205%;
  --buttery-tokens-color-danger-800-l: 48.19%;
  --buttery-tokens-color-danger-900-h: 359;
  --buttery-tokens-color-danger-900-s: 70.94017094017094%;
  --buttery-tokens-color-danger-900-l: 44.46%;
  --buttery-tokens-color-neutral-h: 240;
  --buttery-tokens-color-neutral-s: 25%;
  --buttery-tokens-color-neutral-l: 1.6%;
  --buttery-tokens-color-neutral-50-h: 240;
  --buttery-tokens-color-neutral-50-s: 0%;
  --buttery-tokens-color-neutral-50-l: 90%;
  --buttery-tokens-color-neutral-100-h: 240;
  --buttery-tokens-color-neutral-100-s: 0%;
  --buttery-tokens-color-neutral-100-l: 79%;
  --buttery-tokens-color-neutral-200-h: 240;
  --buttery-tokens-color-neutral-200-s: 1.1006540118041004%;
  --buttery-tokens-color-neutral-200-l: 68.655%;
  --buttery-tokens-color-neutral-300-h: 240;
  --buttery-tokens-color-neutral-300-s: 0.6857413100023677%;
  --buttery-tokens-color-neutral-300-l: 57.709999999999994%;
  --buttery-tokens-color-neutral-400-h: 240;
  --buttery-tokens-color-neutral-400-s: 0.5025125628140731%;
  --buttery-tokens-color-neutral-400-l: 47.76%;
  --buttery-tokens-color-neutral-500-h: 240;
  --buttery-tokens-color-neutral-500-s: 1.010101010101017%;
  --buttery-tokens-color-neutral-500-l: 37.62%;
  --buttery-tokens-color-neutral-600-h: 240;
  --buttery-tokens-color-neutral-600-s: 0.5025125628140727%;
  --buttery-tokens-color-neutral-600-l: 28.854999999999997%;
  --buttery-tokens-color-neutral-700-h: 240;
  --buttery-tokens-color-neutral-700-s: 1.0101010101010108%;
  --buttery-tokens-color-neutral-700-l: 19.8%;
  --buttery-tokens-color-neutral-800-h: 240;
  --buttery-tokens-color-neutral-800-s: 1.5228426395939052%;
  --buttery-tokens-color-neutral-800-l: 11.82%;
  --buttery-tokens-color-neutral-900-h: 240;
  --buttery-tokens-color-neutral-900-s: 25%;
  --buttery-tokens-color-neutral-900-l: 1.6%;
  --buttery-tokens-color-static-background-h: 236;
  --buttery-tokens-color-static-background-s: 100%;
  --buttery-tokens-color-static-background-l: 50%;
  --buttery-tokens-color-static-surface-h: 236;
  --buttery-tokens-color-static-surface-s: 100%;
  --buttery-tokens-color-static-surface-l: 50%;

--buttery-tokens-custom-layout-header: 48;}